body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f7b1db, #c186ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    color: #9c4dcc;
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 95%;
    padding: 10px;
    background-color: #9c4dcc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.login-container button:hover {
    background-color: #7a2bbd;
}

.error {
    color: red;
    font-size: 14px;
}

.info {
    margin-top: 15px;
    font-size: 13px;
}

.login-logo {
    width: 120px;
    margin: 0 auto 15px auto;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.register-btn {
    width: 95%;
    padding: 10px;
    background-color: #7a2bbd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
}

.register-btn:hover {
    background-color: #5d1ea1;
}
